<% provide(:title, 'Contact') %>
<div class="container">
<div class="row">
	<address>
	<strong>Jordan Rich</strong><br>
	<a href="mailto:jordan@richestates.com">jordan@richestates.com</a><br>
  <strong>Long & Foster Real Estate, Inc.</strong><br>
  5101 Wisconsin Avenue NW<br>
  Washington, DC, 20015<br>
  <abbr title="Phone">P:</abbr> (240) 338-9740
</address></div>
<p><strong>Email form on this page?</strong></p>
</div>