<% provide(:title, 'Home') %>
<script>
$('.carousel').carousel({
  interval: 2000
})</script>

			<!--begin bg-carousel-->
			<div id="bg-fade-carousel" class="carousel slide carousel-fade" data-ride="carousel">
			
			<!-- Indicators -->
			  <ol class="carousel-indicators">
			    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
					<li data-target="#carousel-example-generic" data-slide-to="3"></li>
			  </ol>
				
			<!-- Wrapper for slides -->
			    <div class="carousel-inner" role="listbox">
			        <div class="item active">
			            <div class="slide1"></div>
			        </div>
			        <div class="item">
			            <div class="slide2"></div>
			        </div>
			        <div class="item">
			            <div class="slide3"></div>
			        </div>
			        <div class="item">
			            <div class="slide4"></div>
			        </div>
			    </div><!-- .carousel-inner --> 
			</div><!-- .carousel --> 
			
	
		      <!-- Example row of columns -->
		      <div class="row homepage-boxes">
						<div class="col-md-4">
		          <%= image_tag("headshot-landing.jpg", alt:"Jordan Rich", height: "250", width: "376", class: "img-responsive") %>
		        </div>
		        <div class="col-md-4">
		          <h2>The Rich Difference</h2>
		          <p>Jordan Rich is a sixth generation Washingtonian with DC in his blood. The Rich family passion for DC began when the family started Rich's Shoes over one hundred years ago. The store was a DC landmark from 1894 until finally closing in 1987. Like his family before him, Jordan has dedicated himself to DC and, although not selling shoes, he gives the same Rich-level of service to all of his clients as they embark on the home buying and selling process.</p>
		          <p><a class="btn btn-default" href="<%= about_path %>" role="button">Learn more &raquo;</a></p>
		        </div>
		        <div class="col-md-4">
		          <h2>Featured Listing</h2>
		          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
							Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.</p>
		          <p><a class="btn btn-default" href="#" role="button">Learn more &raquo;</a></p>
		       </div>
		        <%= image_tag("realtor-equal-housing.png", alt: "Realtor Association and Equal Housing Logo", height: "58", width: "81", class: "img-responsive float-left footer-img") %>
		      </div>
