<% provide(:title, 'Home') %>
<script>
$('.carousel').carousel({
  interval: 2000
})</script>

			<!--begin bg-carousel-->
			<div id="bg-fade-carousel" class="carousel slide carousel-fade" data-ride="carousel">
			<!-- Wrapper for slides -->
			    <div class="carousel-inner">
			        <div class="item active">
			            <div class="slide1"></div>
			        </div>
			        <div class="item">
			            <div class="slide2"></div>
			        </div>
			        <div class="item">
			            <div class="slide3"></div>
			        </div>
			        <div class="item">
			            <div class="slide4"></div>
			        </div>
			    </div><!-- .carousel-inner --> 
			</div><!-- .carousel --> 
			
		<div class="container">
		      <!-- Example row of columns -->
		      <div class="row">
		        <div class="col-md-4">
		          <h2>The Rich Difference</h2>
		          <p>Jordan Rich is a sixth generation Washingtonian with DC in his blood. The Rich family passion for DC began when the family started Rich's Shoes over one hundred years ago. The store was a DC landmark from 1894 until finally closing in 1987. Like his family before him, Jordan has dedicated himself to DC and, although not selling shoes, he gives the same Rich-level of service to all of his clients as they embark on the home buying and selling process.</p>
		          <p><a class="btn btn-default" href="<%= about_path %>" role="button">Learn more &raquo;</a></p>
		        </div>
		        <div class="col-md-4">
		          <h2>Featured Listing</h2>
		          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
							Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.</p>
		          <p><a class="btn btn-default" href="#" role="button">Learn more &raquo;</a></p>
		       </div>
		        <div class="col-md-4">
		          <h2>Preferred Vendors</h2>
		          <p>Jordan maintains a list of preferred vendors, ready to help with every aspect of the home buying or selling process.
							Whether you're in need of a mortgage lender, home inspector, or just need help cleaning, consult Jordan's list of trusted
							professionals.</p>
		          <p><a class="btn btn-default" href="<%= vendors_path %>" role="button">Learn more &raquo;</a></p>
		        </div>
		      </div>
