<% provide(:title, 'Client Testimonials') %>
<div class="container">

<blockquote><p>Jordan Rich made the process of selling my mother's house in Chevy Chase, DC completely painless.  I had never sold a property 
before.  Between being knowledgeable of the true value of the property (much higher than I'd estimated), providing specific 
guidance on the required paperwork (basically serving everything up to me on a silver platter), working extremely well with the 
buyer, and generally being available whenever I had questions or needed advice, he was there.  He worked hard, took care of all 
the details and did everything that he said he would do—not only that, he did it when he said he said he would do it; there was 
no need for me to track anything or to prompt him.  The house sold and settled within five weeks of our first meeting.  When 
the time comes to sell my own house, I will be contacting Jordan Rich. — Carol G.</p></blockquote>
 
<blockquote><p>He walked us through every step of the process, explaining things carefully and patiently. He answered emails and 
texts promptly. He didn't waste our time on properties we didn't like. We felt like we had an agent with our best interests in 
mind. I would never have thought that such a big life event could go so smoothly. Highly recommended. Thanks Jordan! — Jason & Maggie</p></blockquote>
 
<blockquote><p>Jordan made our home-buying experience a seamless process and expertly walked us through each detail.  He made 
himself available at all hours, day and night, to make sure we had all available information about the house, neighborhood, 
and features of the area.  He also executed all of the paperwork electronically so that we didn’t have to hunt around for a 
fax machine to sign and return documents.  With Jordan’s expert advice, we were able to negotiate a fantastic price and 
couldn’t be more happy with the outcome. — Matt and Molly</p></blockquote>
</div>