<% provide(:title, 'Preferred Vendors') %>
<div class="container">
	<div class="table-responsive">
	<table class="table table-hover">
	<thead>
	        <tr>
	          <th>Service</th>
	          <th>Company</th>
	          <th>Phone</th>
						<th>Web</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr>
	          <td>Settlement</td>
	          <td>Settlement Pros</td>
	          <td>202.363.1870</td>
						<td><a href="http://www.settlementpros.com" target="_blank">www.settlementpros.com</a></td>
	        </tr>
	        <tr>
	          <td>Settlement</td>
	          <td>Paragon Title</td>
	          <td>301.986.1114</td>
	          <td><a href="http://www.paragontitle.com" target="_blank">www.paragontitle.com</a></td>
	        </tr>
	        <tr>
	          <td>Lenders</td>
	          <td>Peter Eksteins</td>
	          <td>301.674.7734</td>
	          <td><a href="https://www.gmmllc.com/peksteins/" target="_blank">www.gmmllc.com/peksteins</a></td>
	        </tr>
	        <tr>
	          <td>Lenders</td>
	          <td>Jonathan D. Okun</td>
	          <td>443.610.8371</td>
	          <td><a href="https://jonathanokun.phmloans.com/" target="_blank">jonathanokun.phmloans.com</a></td>
	        </tr>
	        <tr>
	          <td>Cleaning</td>
	          <td>College Hunks Hauling Junk</td>
	          <td>202.286.6454</td>
	          <td><a href="http://www.collegehunkshaulingjunk.com/locations/washington-dc" target="_blank">collegehunkshaulingjunk.com</a></td>
	        </tr>
	        <tr>
	          <td>Cleaning</td>
	          <td>1-800-GOT-JUNK?</td>
	          <td>800.468.5865</td>
	          <td><a href="http://www.1800gotjunk.com/" target="_blank">1800gotjunk.com</a></td>
	        </tr>
	        <tr>
	          <td>Moving</td>
	          <td>Town & Country Movers</td>
	          <td>301.670.4600</td>
	          <td><a href="http://www.townandcountrymovers.com/" target="_blank">townandcountrymovers.com</a></td>
	        </tr>
	        <tr>
	          <td>Inspections</td>
	          <td>Mid-Atlantic Inspection Services</td>
	          <td>202.607.4153</td>
	          <td><a href="http://www.midatlanticinspections.com" target="_blank">midatlanticinspections.com</a></td>
	        </tr>
	        <tr>
	          <td>Inspections</td>
	          <td>Pro-Tec Inspections</td>
	          <td>301.972.8531</td>
	          <td><a href="http://www.protec-inspections.com/" target="_blank">protec-inspections.com</a></td>
	        </tr>
	        <tr>
	          <td>Inspections</td>
	          <td>Rodney L. Zahra</td>
	          <td>301.351.6585</td>
	          <td><a href="http://homeinspectiondcmetro.com/" target="_blank">homeinspectiondcmetro.com</a></td>
	        </tr>
	      </tbody>
	</table>
	</div>
</div>