@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins and variables */

$pale-grey: #f6f6f6;
$grey: #455567;
$white: #fff;
$blue: #002957;
$dark-blue: #001e3f;
$red: #CC0000;
$black: #000000;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body{
	padding-top: 100px;
	padding-bottom: 20px;
	background-color: $white;
	margin-bottom: 200px;
}

.container{
	max-width: 1170px;
}

.main{
	margin-top: 20px;
}

.homepage-boxes{
	margin-top: 10px;
	border-top: 2px solid $blue;
	border-bottom: 2px solid $blue;
}

/*h1{
	font-family: 'Alex Brush', cursive;
	font-size: 55px;
}*/
h2{
	font-family: 'Alex Brush', cursive;
	font-size: 35px;
	color: $grey;
}

blockquote{
	font-size: 15px;
	font-style: italic;
	width: 75%;
}

/* navigation and header */

$bgDefault      : #e74c3c;
$bgHighlight    : #c0392b;
$colDefault     : #ccc;
$colHighlight       : #ffbbbc;

.navbar-fixed-top{
	height: 105px;
}
.navbar-inverse {
  background-color: $white;
  border-color: $pale-grey;
  font-weight: bold;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus { 
      color: $colHighlight; }}
  .navbar-text {
    color: $grey; }
  .navbar-nav {
    > li {
      > a {
        color: $grey;
		border-top: 3px solid $white;
        &:hover,  &:focus {
          color: #999; 
		  border-top: 3px solid #777;
	  }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $pale-grey; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $grey;
        background-color: $pale-grey; }}}
  .navbar-toggle {
    border-color: $grey;
	background-color: $grey;
    &:hover, &:focus {
      background-color: $blue; }
    .icon-bar {
      background-color: $pale-grey; }}
  .navbar-collapse,
  .navbar-form {border-color: $white!important;}
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

/* jumbotron */

.jumbotron{
	/*background-image: url(image_path('cambria.jpg'));
	background-size: cover;*/
	height: 300px;
	color: #fff;
}

.slide1, .slide2, .slide3, .slide4 {
	min-height: 500px; /* Must have a height or min-height set due to use of background images */
	background-size: cover;
	/*background-position: center center;*/
}
.slide1 {
	background-image: url(image_path('cambria.jpg'));
}
.slide2 {
	background-image: url(image_path('slide02.jpg'));
}
.slide3 {
	background-image: url(image_path('slide03.jpg'));
}

.slide4 {
	background-image: url(image_path('slide04.jpg'));
}
/* Carousel Fade Effect */
.carousel.carousel-fade .item {
	-webkit-transition: opacity 1s linear;
	-moz-transition: opacity 1s linear;
	-ms-transition: opacity 1s linear;
	-o-transition: opacity 1s linear;
	transition: opacity 1s linear;
	opacity: .5;
}
.carousel.carousel-fade .active.item {
	opacity: 1;
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
	left: 0;
	z-index: 2;
	opacity: 0;
	filter: alpha(opacity=0);
}

/* Carousel Overlay 
.carousel-overlay {
	position: absolute;
	bottom: 100px;
	right: 0;
	left: 0;
}*/



/* forms */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* footer */

/*footer {
  margin: 45px 10px 0 10px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}*/

footer a {
  color: #999;
}

footer a:hover {
  color: $pale-grey;
  text-decoration: none;
}

footer small {
  margin-top: 10px;
  float: left;
}

footer ul {
  float: right;
  list-style: none;
  margin-top: 10px;
  margin-right: -15px;
}

footer ul li {
  float: left;
  margin-left: 15px;
  font-size: .9em;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
  background-color: $grey;
  color: #999;
  border-bottom: 12px solid $blue;
}

.footer-contact{
	
}

.footer-copyright{
	background-color: $blue;
	height: 30px;
	width: 100%;
	/*bottom: 0;*/
	margin-bottom: -40px;
	color: $pale-grey;
	text-align: center;
}

/* images */

.float-left{
	padding: 4px;
	background-color: #fff;
	border: 1px solid #ccc;
	float: left;
	margin-right: 1em;
}

.footer-img{
	border: none;
	clear: both;
}

.rich-logo{
	padding: 2px;
	background-color: $white;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.table-responsive{
	padding-top: 20px;
}

/* buttons */

a.btn-default{
	background-color: $pale-grey;
}