@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Alex+Brush);

/* mixins and variables */

$pale-grey: #f6f6f6;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body{
	padding-top: 100px;
	padding-bottom: 20px;
	background-color: $pale-grey;
}

/*h1{
	font-family: 'Alex Brush', cursive;
	font-size: 55px;
}*/
h2{
	font-family: 'Alex Brush', cursive;
	font-size: 35px;
	color: #777777;
}

/* navigation and header */

.navbar-inverse{
	background-color: $pale-grey;
	border: none;
}

.navbar-collapse li a{
	text-align: center;
}

.navbar-brand{
	font-family: 'Alex Brush', cursive;
	font-size: 70px;
	margin-top: 10px;
}

/* jumbotron */

.jumbotron{
	background-image: url(image_path('cambria.jpg'));
	background-size: cover;
	height: 300px;
	color: #fff;
}

/* forms */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* footer */

footer {
  margin: 45px 10px 0 10px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
  font-size: .9em;
}

/* images */

.float-left{
	padding: 4px;
	background-color: #fff;
	border: 1px solid #ccc;
	float: left;
	margin-right: 1em;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}